@import "~bootstrap/scss/bootstrap.scss";

.main-frame {
    background: rgb(12,12,12);
    height: 250px;
    display: flex;
}

.main-frame div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    border-radius: 10px;
    font-size: 8rem;
    color: white;
    height: 70%;
    width: 140px;
    padding: 10px;
    margin: 40px 20px;
}

.yellow {
    background: yellow;
}
.yellowgreen {
    background: yellowgreen;
}
.violet {
    background: violet;
}
.red {
    background: red;
}
.green {
    background: green;
}
.purple {
    background: purple;
}
.blue {
    background: blue;
}
.orange {
    background: orange;
}
.orangered {
    background: orangered;
}
.fuchsia {
    background: fuchsia;
}
.lightblue {
    background: lightblue;
}

.pulsate-yellow {
    background: yellow;
    animation: pulsate 1s linear;
    animation-iteration-count: infinite;
}
.pulsate-yellowgreen {
    background: yellowgreen;
    animation: pulsate 1s linear;
    animation-iteration-count: infinite;
}
.pulsate-violet {
    background: violet;
    animation: pulsate 1s linear;
    animation-iteration-count: infinite;
}
.pulsate-red {
    background: red;
    animation: pulsate 1s linear;
    animation-iteration-count: infinite;
}
.pulsate-green {
    background: green;
    animation: pulsate 1s linear;
    animation-iteration-count: infinite;
}
.pulsate-purple {
    background: purple;
    animation: pulsate 1s linear;
    animation-iteration-count: infinite;
}
.pulsate-blue {
    background: blue;
    animation: pulsate 1s linear;
    animation-iteration-count: infinite;
}
.pulsate-orange {
    background: orange;
    animation: pulsate 1s linear;
    animation-iteration-count: infinite;
}
.pulsate-orangered {
    background: orangered;
    animation: pulsate 1s linear;
    animation-iteration-count: infinite;
}
.pulsate-fuchsia {
    background: fuchsia;
    animation: pulsate 1s linear;
    animation-iteration-count: infinite;
}
.pulsate-lightblue {
    background: lightblue;
    animation: pulsate 1s linear;
    animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% { 
        font-size: 7rem;
    }
    100% { 
        font-size: 11rem;
    }
}